
<div [style.display]="'flex'"
[style.flex-direction] = "'column'"
[style.position] = "'absolute'"
[style.left.px] = "left"
[style.top.px] = "top"
[style.width.px] = "width"
[style.height.px] = "height"  
[style.background-color] = "background_color"  
>

    <textarea #logtextarea disabled style="width: 97%; height: 97%; margin:2px auto;">
{{_log}}
    </textarea>
    <div style="width: 100%;" >
        <div style='display:flex; flex-direction:row'>
            <div style="font-size:small;" >
                <mat-slide-toggle (toggleChange)="autoscroll_toggle()" [checked]="autoscroll">
                    Auto Scroll
                </mat-slide-toggle>
            </div>
            <div  style="width: 10px; height: 20px;"></div>
            <button (click)="clearlog()" style="width: 100px; height: 100%;">Clear</button>

        </div>

    </div>
</div>
